.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:5%;
    margin-top: 5%;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
    padding-bottom: 3%;
}


.thumbnail img {
    max-height: 100%;
    width: 304px;
    height: 155px;

}

.content {
    width: 304px;
    background-color: #3A3A3A;
    height:140px;
    margin-top: -4px;
}

.content h3 {
    font-family: 'Zilla Slab', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4em;
    text-align: center;
    color: #EAEAEA;
}

.content p{
    font-family: 'Zilla Slab', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25em;
    text-align: center;
    color: #EAEAEA;
}










@media only screen and (max-width:1640px) {
    .container {
      gap:7%;
       
    }
}

@media only screen and (max-width:1240px) {
    .container {
      gap:2%;
       
    }
}

@media only screen and (max-width:350px) {
    .thumbnail {
        margin-top: 50px;
        width: 303px;
        height:202px;
        background-color: #8D8D8D;
    }

    .content {
        margin-top: -23px;
        width: 303px;
        height:200px;
        background-color: #3A3A3A;
    }
} 